<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOODZ</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>


    {% block container %}


    {% endblock %}


    <script src="{% static 'web/js/script.js' %}"></script>
</body>
</html>