{% extends "base/manager_base.html" %} {% block container %} {% load static %}


{% include 'include/manager_header.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title" style="padding-bottom: 16px;">Recent Orders</h1>
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Store</th>
                                                    <th>Delivery</th>
                                                    <th>View</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for instance in instances %}
                                                <tr>
                                                    <td>{{instance.customer.user.email}} {{instance.customer.user.last_name}}</td>
                                                    <td>{{instance.store.name}}</td>
                                                    <td>
                                                        <a href="{% url 'manager:order_assign' id=instance.id %}" id="custom-btn">ASSIGN</a>
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'manager:order' id=instance.id %}" id="custom-btn">VIEW</a>
                                                    </td>
                                                    <td class="text-white">
                                                        {% if instance.status == 'PL' %}
                                                            <a href="{% url 'manager:order_accept' id=instance.id %}" id="custom-green">PREPARE</a>
                                                            <br> <br>
                                                            <a href="{% url 'manager:order_reject' id=instance.id %}" id="custom-red">REJECT</a>
                                                        {% elif instance.status == 'AC' %}
                                                            <a href="{% url 'manager:order_prepared' id=instance.id %}" id="custom-green">SHIPED</a>
                                                            <br> <br>
                                                            <a href="{% url 'manager:order_reject' id=instance.id %}" id="custom-red">CANCELL</a>
                                                        {% elif instance.status == 'PR' %}
                                                            <a href="{% url 'manager:order_picked' id=instance.id %}" id="custom-green">ON THE WAY</a>
                                                            <br> <br>
                                                            <a href="{% url 'manager:order_reject' id=instance.id %}" id="custom-red">CANCELL</a>
                                                        {% elif instance.status == 'DI' %}
                                                            <a href="{% url 'manager:order_completed' id=instance.id %}" id="custom-green">COMPLETE</a>
                                                            <br> <br>
                                                            <a href="{% url 'manager:order_reject' id=instance.id %}" id="custom-red">CANCELL</a>
                                                        {% elif instance.status == 'CA' %}
                                                            <a href="#" id="custom-red">CANCELLED</a>
                                                        {% else %}
                                                            <a class="btn-rounded p-2 mb-1 btn-primary color-white">
                                                                COMPLETED
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>


            </div>

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="heading-line">
                                     <h1 class="card-title" style="padding-bottom: 16px;">All Orders</h1>
                                    <h4 class="card-title m-0 p-0">{{name}}</h4>
                                    <a href="{% url 'manager:full_orders_create' %}" id="custom-btn">ADD NEW</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered zero-configuration" style="border-radius: 14px;">
                                        <thead>
                                            <tr>
                                                <th>NAME</th>
                                                <th>ORDER ID</th>
                                                <th>STATUS</th>
                                                <th>STORE</th>
                                                <th>TOTAL</th>
                                                <th>EDIT</th>
                                                <th>DELETE</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in instances %}
                                            <tr>
                                                <td>{{instance.customer}}</td>
                                                <td>{{instance.order_id}}</td>
                                                <td>{{instance.status}}</td>
                                                <td>{{instance.store}}</td>
                                                <td>{{instance.total}}</td>
                                                <td>
                                                    <a href="{% url 'manager:full_orders_update' id=instance.id %}" id="custom-btn">EDIT</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'manager:full_orders_delete' id=instance.id %}" id="custom-btn">DELETE</a>
                                                </td>
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% endblock %}