
{% load static %}

<header class="h-[80px] shadow-md">
        <section class="wrapper h-full flex justify-between items-center">
            <div>
                <img src="{% static 'web/images/logo.png' %}" alt="" class="w-[90px]">
            </div>

            <div class="hidden md:block">
                <ul class="flex items-center">
                    <li class="mr-7"><a href="{% url 'web:index' %}" class="flex justify-start items-center text-[#515151] text-[18px]"><img src="{% static 'web/images/home.png' %}" alt="" class="w-[18px] mr-2">Home</a></li>
                    <li class="mr-7"><a href="#" class="flex justify-start items-center text-[#515151] text-[18px]"><img src="{% static 'web/images/search.png' %}" alt="" class="w-[18px] mr-2">Search</a></li>
                    <li class="mr-7"><a href="{% url 'web:cart' %}" class="flex justify-start items-center text-[#515151] text-[18px]"><img src="{% static 'web/images/bag.png' %}" alt="" class="w-[18px] mr-2">Cart</a></li>
                    <li><a href="{% url 'web:account' %}" class="flex justify-start items-center text-[#515151] text-[18px]"><img src="{% static 'web/images/user.png' %}" alt="" class="w-[18px] mr-2">Account</a></li>
                </ul>
            </div>

            <div class="flex justify-start items-center">
                <a href="" class="flex justify-start items-center mr-8">
                    <img src="{% static 'web/images/map.png' %}" alt="" class="w-[18px] mr-3">
                    <p class="text-[#515151] text-[18px] pb-1 border-b-2 border-yellow-400">Tirur, Malappuram</p>
                </a>
                <a href="{% url 'web:logout' %}">
                    <img src="{% static 'web/images/logout.png' %}" alt="" class="w-[18px] invert">
                </a>
            </div>

        </section>
    </header>