{% extends "base/manager_base.html" %} {% block container %} {% load static %}


{% include 'include/store-header.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="basic-form">
                                    <form action="" method="post" class="ajax redirect" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-6">
                                                <label>Food Item Name</label>
                                                <input type="text" value="{{instance.name}}" name="fooditem_name" placeholder="Food item name" class="form-control">
                                            </div>
                                            <div class="form-group col-12 col-md-6">
                                                <label>Select Image</label>
                                                <input type="file" name="image" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12 col-md-6">
                                                <label>Price</label>
                                                <input type="number" value="{{instance.price}}" name="price" placeholder="Enter the price" class="form-control">
                                            </div>
                                            <div class="form-row align-items-center" style="margin-top: 10px; margin-left: 1px;">
                                                <div class="col-auto my-1">
                                                    <select class="custom-select mr-sm-2" name="category" id="inlineFormCustomSelect">
                                                        <option selected="selected">Choose Category...</option>
                                                        {% for category in food_categories %}
                                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input type="checkbox" value="{{instance.is_veg}}" name="is_veg">
                                                <label class="form-check-label">VEG</label>
                                            </div>
                                        </div>
                                        
                                        <button class=" btn login-form__btn submit button" type="submit">Submit</button>
                                        
                                        
                                        {% if error %}
                                            <p>{{message}}</p>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}